<footer class="footer">
  <div class="footer__container">

    <div class="footer__col">
      <h2 class="footer__logo">Tmazz Academy</h2>
      <p>Learn without limits, achieve without boundaries 🎓</p>
    </div>

    <div class="footer__col">
      <h3>Links</h3>
      <ul>
        <li><a routerLink="/">Programming</a></li>
        <li><a routerLink="/">Web Development</a></li>
        <li><a routerLink="/">Artificial Intelligence</a></li>
        <li><a routerLink="/">Cybersecurity</a></li>
        <li><a routerLink="/">Data Science</a></li>
        <li><a routerLink="/">languages</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h3>Services</h3>
      <ul>
        <li><a routerLink="/">Online Courses</a></li>
        <li><a routerLink="/">Certification</a></li>
        <li><a routerLink="/">Coaching</a></li>
        <li><a routerLink="/">Support</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h3>Follow</h3>
      <div class="footer__socials">
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-linkedin-fill"></i></a>
      </div>
    </div>

  </div>

  <div class="footer__bottom">
    © 2026 Tmazz Academy
  </div>
</footer>