<header class="hero">
  <div class="hero__container">

    <!-- TEXT -->
    <div class="hero__content">
      <h1>
        <span>Sign Up</span><br />
        Now <br />
        <span class="highlight">and get</span><br />
        started!
      </h1>

      <p>Learn a new skills, simplify your life!</p>

      <div class="hero__buttons">
        <a routerLink="/Inscript">
          <button  class="btn-primary">SIGN UP</button>
        </a>
      </div>
    </div>

    <!-- IMAGE -->
    <div class="hero__image">
      <img src="images/mmm.png" alt="header image" />
    </div>

  </div>
</header>