<section class="section_c">
        <div class="section__container_c">
          <div class="content_c">
            <p class="subtitle_c">HELLO</p>
            <h1 class="title_c">
              I'm <span>Moatez<br /></span>  the creator of <br/> <span>Tmazz Academy</span>
            </h1>
            <p class="description_c">
                Welcome! I'm Mootez, a passionate web developer and the founder of Tmazz Academy, 
                an innovative e-learning platform designed to enhance education in Tunisia. 
                This project combines my dedication to technology and learning, 
                aiming to provide students and instructors with a secure, modular, 
                and user-friendly environment for online courses, tests, and certifications.
                 Through Tmazz Academy, I strive to make digital education more accessible, 
                 interactive, and efficient .
            </p>
            <div class="action__btns_c">
                <ul class="footer__socials">
                    <li>
                        <a href="https://www.facebook.com/mootez.h.taz/" target="_blank"><i class="ri-facebook-fill"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/moatez_1/" target="_blank"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="image_c">
            <img src="images/mmm.png" alt="profile" />
          </div>
        </div>
      </section>